.main__accordeon {
    margin-bottom: 223px;
}

.accordeon__body {
    margin-left: 203px;
    position: relative;
}

.accordeon__item {
    border-bottom: 1px solid #000;
}

.accordeon__triger {
    padding-top: 51px;
    cursor: pointer;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.accordeon__triger-box {
    flex: 1 1 auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.accordeon__triger-title {
    flex: 0 0 34%;
    font-size: 24px;
    line-height: calc(29 / 24 * 100%);
    text-transform: uppercase;
    margin-bottom: 18px;
}

.accordeon__triger-text {
    flex: 0 1 387px;
    margin-bottom: 18px;
}

.accordeon__triger-arrow {
    margin: 0 84px 18px 84px;
}

.accordeon__triger-content {
    display: none;
    margin: 20px 0;
    p {
        margin-bottom: 10px;
    }
}

.accordeon__image {
    position: absolute;
    bottom: -100px;
    left: 268px;
}

.accordeon__item_active .accordeon__triger-content {
    display: block;
}

@media (max-width: 992px) {
    .main__accordeon {
        margin-bottom: 200px;
    }
    .accordeon__triger-arrow {
        margin: 0 20px 18px 20px;
    }
    .accordeon__triger-text {
        flex: 1 1 auto;
    }
}

@media (max-width: 768px) {
    .main__accordeon {
        margin-bottom: 150px;
    }
    .accordeon__body {
        margin-left: 0;
    }
    .accordeon__triger {
        padding-top: 20px;
    }
    .accordeon__image{
        left: 180px;
    }
    .accordeon__triger-title{
        font-size: 20px;
    }
}

@media (max-width: 655px) {
    .accordeon__triger-box {
        flex-wrap: wrap;
    }
    .accordeon__triger{
        align-items: center;
    }
    .accordeon__triger-title{
        margin-bottom: 0;
    }
    .accordeon__triger-text{
        width: 100%;
    }
}
