.footer {
    padding: 66px 0 102px 0;
    background-color: $color-backgroundFooter;
}

.footer__box {
    margin-bottom: 70px;
}

.box-footer {
    display: flex;
    gap: 70px;
}

.box-footer__items {
    flex: 0 1 32.25%;
    > *:not(:last-child) {
        margin-bottom: 70px;
    }
}

.box-footer__title {
    text-transform: uppercase;
    color: $color-textDark;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 0.02em;
}

.box-footer__form {
    padding-bottom: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-textDark;
}

.box-footer__input {
    background: inherit;
    width: 100%;
    ::placeholder {
        color: $color-textDark;
        opacity: 0.4;
        font-style: 12px;
        line-height: calc(15 / 12 * 100%);
    }
}

.box-footer__list {
    > *:not(:last-child) {
        margin-bottom: 10px;
    }
}

.box-footer__link {
    color: $color-textDark;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: $color-textButton;
        transition: 0.3s;
    }
    transition: 0.3s;
    &:hover {
        color: $color-textButton;
        &::after {
            width: 100%;
        }
    }
}

.box-footer__social {
    align-self: flex-end;
    margin-left: 15px;
}

.footer-social__list {
    > *:not(:last-child) {
        margin-bottom: 15px;
    }
}

.footer-social__item {
    svg path {
        transition: 0.3s;
    }
    svg:hover path {
        fill: $color-textButton;
    }
}

.footer__nav-list {
    display: flex;
    gap: 20px;
    margin-left: 194px;
}

.footer__nav-link{
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: $color-textButton;
        transition: 0.3s;
    }
    transition: 0.3s;
    &:hover {
        color: $color-textButton;
        &::after {
            width: 100%;
        }
    }
}