.main__video {
    margin-bottom: 150px;
}
.video {
}

.video__body {
}
.body-video {
}
.body-video__box {
    position: relative;
    margin-left: auto;
    max-width: 997px;
}

.body__video-screen {
    padding-bottom: 60.18%;
}

.body-video__button {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}
